# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Plata Hill <plata.hill@kdemail.net>

[Desktop Entry]
Name=Kalm
Name[ca]=Kalm
Name[ca@valencia]=Kalm
Name[cs]=Kalm
Name[es]=Kalm
Name[eu]=Kalm
Name[fr]=Kalm
Name[it]=Kalm
Name[nl]=Kalm
Name[pl]=Kalm
Name[sk]=Kalm
Name[sl]=Kalm
Name[sv]=Kalm
Name[tr]=Kalm
Name[uk]=Kalm
Name[x-test]=xxKalmxx
Comment=Breathing techniques
Comment[ca]=Tècniques de respiració
Comment[ca@valencia]=Tècniques de respiració
Comment[cs]=Dechové techniky
Comment[es]=Técnicas de respiración
Comment[eu]=Arnas teknikak
Comment[fr]=Techniques de respiration
Comment[it]=Tecniche di respirazione
Comment[ka]=სუნთქვის ტექნიკა
Comment[nl]=Ademtechnieken
Comment[pl]=Techniki oddychania
Comment[sk]=Dýchacie techniky
Comment[sl]=Dihalne tehnike
Comment[sv]=Andningstekniker
Comment[tr]=Soluk alma teknikleri
Comment[uk]=Методики дихання
Comment[x-test]=xxBreathing techniquesxx
Version=1.0
Exec=kalm
MimeType=application/x-kalm;
Icon=org.kde.kalm
Type=Application
Terminal=false
Categories=Utility;KDE;Qt;
